<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="chuanglan.com.shanyantest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
                android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTop"
                android:screenOrientation="behind"/>

        <activity-alias
                android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTop"
                android:screenOrientation="behind"
                android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"/>
        <activity
                android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTop"
                android:screenOrientation="behind"/>
        <activity
                android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTop"
                android:screenOrientation="behind"/>
    </application>

</manifest>
